@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto+Slab');
body {
    position:relative;
}
img {
    display:block;
    margin:auto;
}
#logo {
    height: 2rem;
}
p {
  font-family: 'Roboto Slab', serif;
  color: #333;
  font-weight:400;
  font-size: 1.5em;
}
h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 5em;
} 
.navbar {
  background-color: rgba(255, 255, 255, 0.8);
}
p > a,
.nav-item > a {
  position: relative;
  color: #00c46d;
}
p > a:hover,
.nav-item > a:hover {
  color: #00c46d;
  text-decoration: none;
}
p > a:before,
.nav-item > a:before {
 content: "";
 position: absolute;
 width: 100%;
 height: 2px;
 bottom: 0;
 left: 0;
 background-color: #00c46d;
 visibility: hidden;
 -webkit-transform: scaleX(0);
 transform: scaleX(0);
 -webkit-transition: all 0.3s ease-in-out 0s;
 transition: all 0.3s ease-in-out 0s;
}
p > a:hover:before,
.nav-item > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.nav-link {
  color: rgba(0, 0, 0, 0.6);
}
.navbar-light .navbar-nav .active>.nav-link {
  color: #00c46d;
}
.active.nav-item > a:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
#hello-block {
  text-align: center;
}
#hello-txt {
  font-size: 4rem;
}
#me{
	width: 25rem;
	border-radius:5%;
}
#contact-logos img{
	width:4rem;
	padding-bottom:4rem;
}
.list-group-item {
    padding-top: 0.4rem;
}
footer{
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	background-color: #efefef;
	text-align: center;
}
@media(max-width: 992px) {
	#me{
		width: 20rem;
	}
	.work-in-progress{
		width: 25rem;
	}
	h1{
	  font-size: 4em;
	}
	p{
	  font-size: 1.25em;
	}
}
@media(max-width: 768px) {
	#me{
		width: 15rem;
	}
	.work-in-progress{
		width: 20rem;
	}
	h1{
	  font-size: 3em;
	}
	p{
	  font-size: 1.2em;
	}
}
@media(max-width: 576px) {
	#me{
		width: 10rem;
	}
	.work-in-progress{
		width: 15rem;
	}
  .active.nav-item > a:before {
    width: 20%;
  }
  h1{
	  font-size: 2em;
	}
  p{
	  font-size: 1em;
	}

}
#little-space-here{
	padding-top: 1rem;
}
.fp-controlArrow.fp-prev {
    left: 15px;
    width: 0;
    border-width: 38.5px 34px 38.5px 0;
	border-color: transparent rgba(41,42,43,0.1) transparent transparent;
}
.fp-controlArrow.fp-prev:hover {
	border-color: transparent #00c46d transparent transparent;
}
.fp-controlArrow.fp-next {
    right: 15px;
    border-width: 38.5px 0 38.5px 34px;
    border-color: transparent transparent transparent rgba(41,42,43,0.1);
}
.fp-controlArrow.fp-next:hover {
	border-color: transparent transparent transparent #00c46d;
}
